
a:active 
{  
  color: fuchsia; 
}

input:checked + label 
{
  color: #ff5100;
}
option:checked
{
  box-shadow: 0 0 0 3px rgb(255, 154, 255);
  color: red;
}

input:default 
{
    box-shadow: 0 0 2px 1px coral;
  }
  
input:default + label 
{
    color: coral;
}

h4:first-child 
{
    color: lime;
    background-color: black;
    padding: 5px;
}

.red-input:focus 
{
    background: rgb(185, 252, 191);
    color: red;
}
  
  .blue-input:focus 
{
    background: yellow;
    color: blue;
}
  
.focus-visible-only:focus-visible 
{
outline: 4px dashed darkorange;
}

p:last-child 
{
    color: lime;
    background-color: black;
    padding: 5px;
}
  
.hover:hover 
  {
    background-color: rgb(0, 255, 200);
  }
  

  .fancy 
  {
    text-shadow: 2px 2px 3px gold;
  }
  
 
  h2:not(.fancy) 
  {
    color: green;
  }

p:nth-child(7)
{
  color: rgb(0, 255, 55);
  background-color: #000000;
  padding: 5px;
}  

p:target {
  background-color: gold;
}

p:target::before {
  font: 70% sans-serif;
  content: "►";
  color: limegreen;
  margin-right: 0.25em;
}


p:target i {
  color: red;
}

.visitado {
  background-color: white;
  border: 1px solid white;
}

.visitado:visited {
  background-color: yellow;
  border-color: hotpink;
  color: hotpink;
}

.primeraletra::first-letter {
  color: red;
  font-size: 130%;
}

q::before {
  content: "«";
  color: blue;
}
q::after {
  content: "»";
  color: red;
}

.exciting-text::after {
  content: " ✦✦";
  color: rgb(247, 105, 239);
}

.resaltar::selection {
  color: white;
  background-color: rgb(159, 255, 50);
}

ul li::marker {
  color: rgb(255, 251, 0);
  font-size: 2.0em;
}

input::placeholder {
  color: rgb(255, 174, 0);
  font-size: 1.2em;
  font-style: italic;
}









